<% content_for :title, "Resend confirmation instructions" %>

<div class="max-w-80 w-full block py-5 mx-auto">
  <img src="/assets/img/icons/StudErn_Light_Long_Logo.svg" alt="Logo" class="w-25 mb-[25px] mx-auto" />
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "control_units/shared/error_messages", resource: resource %>

    <div class="flex flex-col my-5 border-1 border-solid border-[#c3c4c7] bg-white py-[26px] px-[24px]">
      <h2 class="pb-3" tabindex="-1" id="page-title" aria-labelledby="page-title">Resend confirmation instructions</h2>
      <p class="block">
        <%= f.label :email, class:"fs-[14px] leading-[1.5] inline-block mb-[3px]" %>
        <%= f.email_field :email, class:"fs-6 leading-[1.333333] w-full border-[.0625rem] border-[#8c8f94] me-[6px] mb-[16px] px-[.3125rem] min-h-10 max-h-none rounded-1", autofocus: true, autocomplete: "email" %>
      </p>

      <div class="flex flex-row justify-between">
        <p class="submit flex justify-end">
          <%= f.submit "Resend confirmation instructions", class:"btn btn-sm btn-primary" %>
        </p>
      </div>
        
    </div>
  <% end %>
  <p class="fs-[13px] text-gray-600 my-6 px-6">
    <%= link_to "Login", new_session_path(resource_name), class:"hover:text-primary" %>
    |
    <%= link_to "Register", new_registration_path(resource_name), class:"hover:text-primary" %>
  </p>
  <p class="fs-[13px] text-gray-600 my-4 px-6">
    <%= link_to "â† Go to Home", root_path(), class:"hover:text-primary" %>
  </p>
  <%#= render "control_units/shared/links" %>
</div>