<% content_for :title, "Change your password" %>

<div class="max-w-80 w-full block py-5 mx-auto">
  <img src="/assets/img/icons/StudErn-LOGO.svg" alt="Logo" class="w-25 mb-[25px] mx-auto" />
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "control_units/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="flex flex-col my-5 border-1 border-solid border-[#c3c4c7] bg-white py-[26px] px-[24px]">
      <h2 class="pb-3" tabindex="-1" id="page-title" aria-labelledby="page-title">Change your password</h2>

      <p class="block">
        <%= f.label :password, class:"fs-[14px] leading-[1.5] inline-block mb-[3px]" do %>
          <%= "Password" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        <% end %>
        <%= f.password_field :password, class:"fs-6 leading-[1.333333] w-full border-[.0625rem] border-[#8c8f94] me-[6px] mb-[16px] px-[.3125rem] min-h-10 max-h-none rounded-1", autocomplete: "new-password" %>
      </p>

      <p>
        <%= f.label :password_confirmation, class:"fs-[14px] leading-[1.5] inline-block mb-[3px]" %>
        <%= f.password_field :password_confirmation, class:"fs-6 leading-[1.333333] w-full border-[.0625rem] border-[#8c8f94] me-[6px] mb-[16px] px-[.3125rem] min-h-10 max-h-none rounded-1", autocomplete: "new-password" %>
      </p>

      <div class="flex flex-row justify-between">
        <p class="submit flex justify-end">
          <%= f.submit "Change my password", class:"btn btn-sm btn-primary" %>
        </p>
      </div>
        
    </div>
  <% end %>
  <p class="fs-[13px] text-gray-600 my-6 px-6">
    <%= link_to "Login", new_session_path(resource_name), class:"hover:text-primary" %>
    |
    <%= link_to "Register", new_registration_path(resource_name), class:"hover:text-primary" %>
  </p>
  <p class="fs-[13px] text-gray-600 my-4 px-6">
    <%= link_to "â† Go to Home", root_path(), class:"hover:text-primary" %>
  </p>
  <%#= render "control_units/shared/links" %>
</div>