<div class="container mx-auto p-10">
  <h1 class="mb-8 font-extrabold text-4xl">
    <a href="<%= root_path %>" class="text-primary hover:text-primary-focus">
      <span class="text-primary">Stud</span><span class="text-base-content">Ern</span>
    </a>
  </h1>
  <h2 class="mb-8 font-semibold text-3xl">Resend confirmation instructions</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="order-2 md:order-1">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "recruiters/shared/error_messages", resource: resource %>

      <div class="mt-4">
        <%= f.label :email, class:"block font-semibold" %>
        <%= f.email_field :email, class: "w-full shadow-inner bg-gray-100 rounded-lg placeholder-black text-2xl p-4 border-none block mt-1 w-full", required: true, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="flex items-center justify-between mt-8">
        <button type="submit" class="flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10">
          Submit
        </button>
      </div>
      <%= render "recruiters/shared/links" %>
    <% end %>
    </div>

    <aside class="order-1 md:order-2">
        <div class="bg-base-200 p-8 rounded">
            <h2 class="font-bold text-2xl">Instructions</h2>
            <ul class="list-disc mt-4 list-inside">
                <li>All users must provide a valid email address that was used to create an account.</li>
            </ul>
        </div>
    </aside>

  </div>
</div>
