<div class="h-screen flex">

  <div class="w-full relative flex flex-col md:flex-row">

    <svg viewBox="0 0 500 150" class="hidden md:block" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <defs>
        <linearGradient id="myGradient" gradientTransform="rotate(90)">
          <stop offset="5%" stop-color="#4D1183" />
          <stop offset="95%" stop-color="#FFB5D0" />
        </linearGradient>
      </defs>
      <path d="M208.09,0.00 C152.70,67.10 262.02,75.98 200.80,150.00 L0.00,150.00 L0.00,0.00 Z" style="stroke: none; fill: url('#myGradient');"></path>
    </svg>

    <div class="relative md:absolute md:top-0 p-8 flex justify-between w-full md:items-center">
      <h1 class="text-3xl font-bold">
        <a href="<%= root_path %>" class="text-primary hover:text-primary-focus">
          <span class="text-primary">Stud</span><span class="text-base-content md:text-base-100">Ern</span>
        </a>
      </h1>
      <a href="<%= new_registration_path(resource_name) %>" class="border-2 bg-indigo-300 p-2 text-indigo-900 hover:bg-purple-300 hover:text-purple-900 rounded transition duration-500 ease-in-out font-medium">
        Registration
      </a>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w-1/2 md:w-auto mx-auto md:absolute md:top-[30%] md:left-[50%] flex flex-col md:overflow-y-auto" }) do |f| %>
      <h1 class="text-5xl text-accent font-bold">
        Log in as recruiter
      </h1>
      <%= f.email_field :email, class:"py-2 px-4 border rounded mt-8 text-accent  placeholder-accent", autofocus: true, autocomplete: "email", placeholder: "Email" %>
      <%= f.password_field :password, class:"py-2 px-4 border rounded mt-4 placeholder-accent text-accent", autocomplete: "current-password", placeholder: "Password" %>
      <button class="border-2 bg-purple-300 p-2 text-purple-900 hover:bg-indigo-300 hover:text-indigo-900 rounded transition duration-500 ease-in-out font-bold mt-2 uppercase">Login</button>
      <%= render "recruiters/shared/links" %>
    <% end %>
    
  </div>

</div>
