<!DOCTYPE html>
<html>
  <head>
    <%= render 'includes/components/head' %>
  </head>

  <body class="max-w-7xl mx-auto bg-base-100 text-base-content">
    <%= render 'includes/components/svg' %>
    <%= render 'includes/components/header' %>

    <% if notice || alert %>
      <div class="toast toast-top toast-end md:max-w-1/2" id="toast-wrapper">
        <% if notice %>
          <div class="alert alert-info" id="toast">
            <span class="text-wrap"><%= notice %></span>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-error" id="toast">
            <span class="text-wrap"><%= alert %></span>
          </div>
        <% end %>
      </div>
    <% end %>

    <main class="container mx-auto mt-28 px-5">
      <%= yield %>
    </main>


    <% if notice || alert %>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const toasts = document.querySelectorAll("#toast");
          let delay = 0;
          toasts.forEach((toast) => {
            const messageElement = toast.querySelector("span");
            const message = messageElement ? messageElement.innerText : "";
            const wordCount = message.split(" ").length;
            const timeout = wordCount * 1000;
            delay += timeout;

            setTimeout(()=>{
              toast.style.transition = "opacity 0.5s ease";
              toast.style.opacity = "0";
              setTimeout(() => toast.remove(), 500); // Remove the element after fading out
            }, timeout);
          });

          setTimeout(() => {
            document.querySelector("#toast-wrapper").remove();
          }, delay);
        });
    </script>
    <% end %>

  </body>
</html>
