<!DOCTYPE html>
<html>
  <head>
    <%= render 'includes/components/head' %>
  </head>

  <body class="max-w-[1920px] mx-auto bg-base-100 text-base-content">
    <%= render 'includes/components/svg' %>
    <%= render 'includes/components/header',
                navigation_nav_items: [
                    { name: 'Find Jobs', path: "#" },
                    { name: 'Find Internships', path: "#" },
                    { name: 'My Jobs', path: "#" },
                    { name: 'E-Learning', path: "#" }
                ],
                top_right_devise_resource_name: 'user'
    %>

    <% if notice || alert %>
      <div class="toast toast-top toast-end md:max-w-1/2" data-controller="toast">
        <% if notice %>
          <div class="alert alert-info"
              data-toast-target="toast">
            <span class="text-wrap" data-toast-target="message"><%= notice %></span>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-error"
              data-toast-target="toast">
            <span class="text-wrap" data-toast-target="message"><%= alert %></span>
          </div>
        <% end %>
      </div>
    <% end %>

    <main class="container mx-auto mt-5 px-5">
      <%= yield %>
    </main>
  </body>
</html>
