<!DOCTYPE html>
<html>
  <head>
    <%= render 'includes/components/head' %>
  </head>

  <body class="max-w-7xl mx-auto bg-base-100 text-base-content">
    <%= render 'includes/components/svg' %>
    <%= render 'includes/components/header' %>

    <%= render 'includes/components/alert' %>

    <main class=" container mx-auto px-4 md:px-6 mt-5">

      <% if ControlUnit.roles[current_control_unit.role] != 99 %>
        <%= yield %>
      <% else %>
        <div class="alert alert-error shadow-lg mt-5">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>Access Denied: You do not have permission to access this page.</span>
          </div>
        </div>
      <% end %>
    </main>

  </body>
</html>
