<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'includes/components/head' %>
  </head>

  <body class="max-w-[1920px] mx-auto bg-base-100 text-base-content">
    <%= render 'includes/components/svg' %>
    <%= render 'includes/components/header',
                navigation_nav_items: [
                    { name: 'Dashboard', path: recruiter_dashboard_path },
                    { name: 'Manage Recruitments', path: recruiter_recruitments_path },
                    { name: 'Company Details', path: recruiter_company_path(current_recruiter.recruiter_permissions_on_companies.where(recruiter_status: 1).first&.company_id || 1) }
                ],
                navigation_right_nav_items: [
                    { name: 'Recruiters/Post Jobs →', path: recruiter_recruitment_publish_path }
                ],
                top_right_devise_resource_name: 'recruiter'
    %>

    <%= render 'includes/components/alert' %>
    <main class="flex-grow">
      <%= yield %>
    </main>
    <%= render 'includes/components/footer' %>
  </body>
</html>
