<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'includes/components/head' %>
  </head>

  <body class="max-w-[1920px] mx-auto bg-base-100 text-base-content">
    <%= render 'includes/components/svg' %>
    <%= render 'includes/components/header',
                navigation_nav_items: [
                    { name: 'Jobs', path: jobs_all_path },
                    { name: 'Internships', path: internships_all_path }
                ],
                navigation_right_nav_items: [
                    { name: 'Build My Resume →', path: user_resume_path }
                ],
                navigation_auth_dropdowns: [
                    { name: 'Profile', path: user_profile_path, logo: 'icon-user' },
                    { name: 'Edit Profile', path: edit_user_registration_path, logo: 'icon-settings' }
                ]
    %>

    <%= render 'includes/components/alert' %>
    <main class="flex-grow">
      <%= yield %>
    </main>
    <%= render 'includes/components/footer' %>
  </body>
</html>
