<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "control_units/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :first_name, class:"fs-[14px] leading-[1.5] inline-block mb-[3px]" %>
      <%= f.text_field :first_name, class:"fs-6 leading-[1.333333] w-full border-[.0625rem] border-[#8c8f94] me-[6px] mb-[16px] px-[.3125rem] min-h-10 max-h-none rounded-1", autofocus: true, autocomplete: "first-name" %>
    </p>

    <div class="field">
      <%= f.label :last_name, class:"fs-[14px] leading-[1.5] inline-block mb-[3px]" %>
      <%= f.text_field :last_name, class:"fs-6 leading-[1.333333] w-full border-[.0625rem] border-[#8c8f94] me-[6px] mb-[16px] px-[.3125rem] min-h-10 max-h-none rounded-1", autocomplete: "last-name" %>
    </p>

    <div class="field">
      <%= f.label :gender, class:"fs-[14px] leading-[1.5] inline-block mb-[3px]" %>
      <%= f.select :gender, User.genders.map { |key, value| [key.titleize, value] }, { prompt: "Select Gender" },
        class:"fs-6 leading-[1.333333] w-full border-[.0625rem] border-[#8c8f94] me-[6px] mb-[16px] px-[.3125rem] min-h-10 max-h-none rounded-1" %>
    </p>

    <div class="field">
      <%= f.label :Date_Of_Birth, class:"fs-[14px] leading-[1.5] inline-block mb-[3px]" %>
      <%= f.date_field :dob, class:"fs-6 leading-[1.333333] w-full border-[.0625rem] border-[#8c8f94] me-[6px] mb-[16px] px-[.3125rem] min-h-10 max-h-none rounded-1", autocomplete: "date-of-birth" %>
    </p>

    <div class="block my-5" data-controller="map">
      <% content_for :custom_head do %>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
      <% end %>
      <%= f.label "Current Address", class:"fs-[14px] leading-[1.5] inline-block mb-[3px]" %>
        <%= f.hidden_field :latitude, data: { map_target: "latitude" } %>
        <%= f.hidden_field :longitude, data: { map_target: "longitude" } %>

      <div id="error_msg" class="hidden mb-2 alert alert-error alert-outline" data-map-target="errorMsg" role="alert">
        <span data-map-target="errorText"></span>
      </div>

      <div id="mapDiv" style="height: 400px;
              width: 90%;
              border-radius: 8px;
              border: 1px solid #ccc;" data-map-target="map"></div>

      <button class="btn btn-outline btn-primary mt-2 w-full" type="button" data-map-target="currentLocation" data-action="click->map#getLocation()">
        Use Current Location
      </button>
    </div>


    <div class="field">
      <%= f.label :phone, class:"fs-[14px] leading-[1.5] inline-block mb-[3px]" %>
      <%= f.text_field :phone, class:"fs-6 leading-[1.333333] w-full border-[.0625rem] border-[#8c8f94] me-[6px] mb-[16px] px-[.3125rem] min-h-10 max-h-none rounded-1", autocomplete: "phone" %>
    </p>

    <div class="field">
      <%= f.label :email, class:"fs-[14px] leading-[1.5] inline-block mb-[3px]" %>
      <%= f.email_field :email, class:"fs-6 leading-[1.333333] w-full border-[.0625rem] border-[#8c8f94] me-[6px] mb-[16px] px-[.3125rem] min-h-10 max-h-none rounded-1", autocomplete: "email" %>
    </p>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>